body {
    background: #f1f1f1;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    color: #0f141e;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}    

    

.info-text h4 {
    margin-bottom: 10px;
}


.info {
    margin-bottom: 20px;
    display: flex;
    }
    
@media (max-width: 650px) {
    .info {
    display: block;
    text-align: center;
    }
}
.info-text {
    margin-left: 40px;
    }
.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-yellow {
    background: #fff9dc;
}
.bg-red {
    background: #ffe5e5;
}
.bg-green {
    background: #e5ffe7;
}
.list {
    padding: 0 20px;
}
.list li {
    color: #86898f;
    margin-bottom: 10px;
    }
.link-list {
    list-style: none;
    padding: 0;
}
.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.table {
    width: 100%;
}
.table td {
    padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}
.form h2 {
    text-align: center;
}

.forum-row {
    margin-bottom: 10px;
    display: flex;
}

.forum-row .forum-group {
    margin-right: 20px;
    width: 50%;
    /*display: inline-block;*/
    /*width: calc(50%-20px);*/
}

.forum-row .forum-group:last-child {
    margin-right: 0;
}
@media (max-width: 650px) {
    .forum-row {
    display: block;
    }
    .forum-row .forum-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.forum-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}
.forum-group input,
.forum-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: 15px 0 10px;
    outline: none;
    font-family: inherit;    
}
